{% extends 'base.html' %}
{% load static %}
{% load split_filter %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static "horoscope/css/index.css" %}">
{% endblock %}


{% block title %} Узнать знак по порядковому номеру {% endblock %}

{% block content %}
    <h1>Приложение "Гороскоп"</h1>
     <form id="form">
     <label for="select">Выберите интересующий вас номер для определения знака зодиака:</label>
        <select id="select">
            {% for i in 12|times %}
                <option value={{ i }}>{{ i }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <script>
        const form = document.getElementById('form');
        const select = document.getElementById('select');

        form.addEventListener('submit', e => {
          e.preventDefault();
          document.location='{% url "info-by-number" sign_zodiac=12345 %}'.replace(/12345/, select.value);
        })
    </script>



    {% include "includes/navbar.html" %}
{% endblock %}