{% extends 'base.html' %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static "horoscope/css/index.css" %}">
{% endblock %}


{% block title %} Меню для типа {{ type }} {% endblock %}

{% block content %}
    <h1>Приложение "Гороскоп"</h1>
    <h2>Меню для типа {{ type }}</h2>
    <ul>
        {% for signs in signs_for_type %}
            <li><a href="{% url 'horoscope-name' sign_zodiac=signs %}">{{ signs|title}}</a></li>
        {% endfor %}
    </ul>
    {% include "includes/navbar.html" %}
{% endblock %}